<a href="https://colab.research.google.com/github/ZeenatSehar1/lecture-1-2-3-/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lecture # 01 Assignment**

Print your full name, age, and city in the following format:
Name: John | Age: 25 | City: New York

In [ ]:
name = "Zeenat"
age = 20
city = "Karachi"
print(f"Name: {name} | Age: {age} | City: {city}")

Name: Zeenat | Age: 20 | City: Karachi

Write a program to print a countdown from 5 to 1, all on the same line, separated by
spaces.

In [ ]:
print(5, 4, 3, 2, 1, sep=" ")

5 4 3 2 1

Write a program to take user’s email address using input function.

In [ ]:
email = input("Enter your email: ")
print("Your email is:", email)

Enter your email: zeenatgmail.com
Your email is: zeenatgmail.com

Print the names of five programming languages separated by (->) :
Using single print statement     
Using multiple print statement

In [ ]:
print("Python", "Java", "C", "C++", "JavaScript", sep="->")

Python->Java->C->C++->JavaScript

In [ ]:
print("Python", end="->")
print("Java", end="->")
print("C", end="->")
print("C++", end="->")
print("JavaScript")

Python->Java->C->C++->JavaScript

Print 1, 2, 3, 4, 5] using single print statement.

In [ ]:
print(1, 2, 3, 4, 5,sep=",",end="]")

1,2,3,4,5]

Create two variables, name and city, with your name and city as values and print both
variables in a single line

In [ ]:
name = "Ali"
city = "Lahore"
print(name, city)

Ali Lahore

We have four variables a = 5, b = 10, c = 3 and d = 6 swap the values of variable a & b and c
& d.

In [ ]:
a = 5
b = 10
c = 3
d = 6
a, b = b, a
c, d = d, c
print("a =", a, "b =", b)
print("c =", c, "d =", d)

a = 10 b = 5
c = 6 d = 3

Ask the user for their name, age, and city and print the sentence in reverse order using
.format()
expected output: Lahore is where I live. 22 is my age. My name is Ali

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")
print("{2} is where I live. {1} is my age. My name is {0}.".format(name, age, city))

Enter your name: zeenat
Enter your age: 20
Enter your city: karachi
karachi is where I live. 20 is my age. My name is zeenat.

Ask the user to input product and its price then generate a receipt using f-string:
expected output

In [ ]:
product = input("Enter product name: ")
price = float(input("Enter product price: "))
print("\n-------- Receipt --------")
print(f"{product}: \t${price:.2f}")
print("-------------------------")
print(f"Total: \t${price:.2f}")

Enter product name: book
Enter product price: 1000

-------- Receipt --------
book: 	$1000.00
-------------------------
Total: 	$1000.00

Lecture # 02 Assignment

Write a program that:
Asks two numbers.  
whether the first number divides the second number evenly (remainder 0) or
not(True/False).

In [ ]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
divides_evenly = (num2 % num1 == 0)
print(divides_evenly)

Enter the first number: 2
Enter the second number: 2
True

Basic Salary Increment Calculator:
Ask the user:  
"Enter your current salary:"  
"Enter your bonus percentage:"  
Calculate bonus amount using percentage.
Update salary using += assignment operator.

In [ ]:
current_salary = float(input("Enter your current salary: "))
bonus_percentage = float(input("Enter your bonus percentage: "))
bonus_amount = current_salary * (bonus_percentage / 100)
current_salary += bonus_amount
print(f"Your bonus amount is: ${bonus_amount}")
print(f"Your updated salary is: ${current_salary}")

Enter your current salary: 30000
Enter your bonus percentage: 10
Your bonus amount is: $3000.0
Your updated salary is: $33000.0

Gym Membership Fee Calculator
Ask the user:
Enter registration fee (integer).  
Enter monthly fee (integer).  
Enter number of months they want to pay for.
Calculate:
Total cost = registration fee plus (monthly fee × number of months).  
Then:
Ask if the user has a discount coupon (yes/no).  
If yes, reduce the total by 10% (use assignment operators, no if).
Print the final amount to be paid.
(Hint: Use *= for 10% reduction using 0.9 multiplier.)

In [ ]:
registration_fee = int(input("Enter registration fee: "))
monthly_fee = int(input("Enter monthly fee: "))
months = int(input("Enter number of months: "))

total_cost = registration_fee + (monthly_fee * months)
has_coupon = input("Do you have a discount coupon (yes/no)? ")
total_cost *= 0.9 if has_coupon == "yes" else 1
print(f"Final amount to be paid: ${total_cost}")

Enter registration fee: 500
Enter monthly fee: 5000
Enter number of months: 3
Do you have a discount coupon (yes/no)? yes
Final amount to be paid: $13950.0

Logical Form Filling Checker:
Ask the user:
"Did you upload your photo? (yes/no)"  
"Did you upload your ID card? (yes/no)"  
"Did you sign the form? (yes/no)"  
Using logical operators only, check:
If all three are "yes"
, print True, otherwise False.
No if-else, only and, or, not.
(Hint: Convert all responses into Boolean and combine.)

In [ ]:
photo = input("Did you upload your photo? (yes/no) ")
id_card = input("Did you upload your ID card? (yes/no) ")
signed = input("Did you sign the form? (yes/no) ")
print(photo and id_card and signed)

Did you upload your photo? (yes/no) yes
Did you upload your ID card? (yes/no) no
Did you sign the form? (yes/no) no
no

Simple E-Wallet Recharge and Spending:
Start with an e-wallet balance of 0.
Ask the user:
"How much money do you want to add?"  
"How much money did you spend on food?"  
"How much money did you spend on transport?"  
"How much money did you spend on shopping?"  
Use assignment operators (+=
, -=) to update the wallet after each step.
Then:
Calculate whether the balance is more than 500 and less than 5000 (use logical
operator to print True or False).
Print the final wallet balance.

In [ ]:
wallet = 0

wallet += float(input("How much money do you want to add? "))
wallet -= float(input("How much money did you spend on food? "))
wallet -= float(input("How much money did you spend on transport? "))
wallet -= float(input("How much money did you spend on shopping? "))

print(wallet > 500 and wallet < 5000)
print(f"Final wallet balance: ${wallet}")

How much money do you want to add? 5000
How much money did you spend on food? 1000
How much money did you spend on transport? 1000
How much money did you spend on shopping? 2000
True
Final wallet balance: $1000.00