<a href="https://colab.research.google.com/github/ZeenatSehar1/lecture-1-2-3-/blob/main/Lbecture_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

Grocery Stock Tracker:
available_stock = ["apple","milk","bread","eggs","rice","butter"]
Tasks:
Add "flour" and "sugar" at the end.
Replace "bread" with "brown bread".
Remove "milk" and print the updated list.
Display only the middle 3 items using slicing.

In [ ]:
available_stock = ["apple", "milk", "bread", "eggs", "rice", "butter"]

available_stock.append("flour")
available_stock.append("sugar")

available_stock[2] = "brown bread"

available_stock.remove("milk")

print(available_stock)

middle_items = available_stock[1:4]
print(middle_items)

['apple', 'brown bread', 'eggs', 'rice', 'butter', 'flour', 'sugar']
['brown bread', 'eggs', 'rice']

Grocery Stock Tracker:
ticket_prices = [250, 300, 200, 400, 150]
Tasks:
Find the highest and lowest ticket price.
Sort the list in descending order.
Add a new ticket price 350 while keeping the list sorted.
Display only the top 3 expensive tickets.

In [ ]:
ticket_prices = [250, 300, 200, 400, 150]

highest = max(ticket_prices)
lowest = min(ticket_prices)

print("Highest price:", highest)
print("Lowest price:", lowest)

ticket_prices.sort(reverse=True)
print("Descending order:", ticket_prices)

ticket_prices.append(350)
ticket_prices.sort(reverse=True)
print("After adding 350:", ticket_prices)

top_3 = ticket_prices[:3]
print("Top 3 expensive tickets:", top_3)

Highest price: 400
Lowest price: 150
Descending order: [400, 300, 250, 200, 150]
After adding 350: [400, 350, 300, 250, 200, 150]
Top 3 expensive tickets: [400, 350, 300]

Playlist Management:
You have to create a music playlist.
Make a list of 5 songs.
Swap the first and last song to change the playlist order.
Add a new favorite song in the middle.
Print all songs except the first and last.

In [ ]:
playlist = ["Song1", "Song2", "Song3", "Song4", "Song5"]
playlist[0], playlist[-1] = playlist[-1], playlist[0]
print(playlist)
playlist.insert(len(playlist)//2, "MyFavoriteSong")
print(playlist[1:-1])

['Song5', 'Song2', 'Song3', 'Song4', 'Song1']
['Song2', 'MyFavoriteSong', 'Song3', 'Song4']

Product Prices:
You have prices of 6 products in your shop.
Create a list of product prices.
Increase the price of two products due to tax (1% tax /product).
Remove the lowest-priced product.
Calculate the total price of the remaining products.

In [ ]:
prices = [120, 250, 180, 300, 90, 200]

prices[0] = prices[0] + prices[0] * 0.01
prices[1] = prices[1] + prices[1] * 0.01

lowest = min(prices)
prices.remove(lowest)

total = sum(prices)

print("Remaining prices:", prices)
print("Total price:", total)

Remaining prices: [121.2, 252.5, 180, 300, 200]
Total price: 1053.7

Tuples

Apartment Details:
An apartment listing is stored as a tuple:
apartment = ("Downtown"
, 3, 2, 45000,
"Available")
- Extract and print the location and rent.
- Change the status to "Rented" without modifying the original tuple.

In [ ]:
apartment = ("Downtown", 3, 2, 45000, "Available")

location = apartment[0]
rent = apartment[3]

print(f"Location: {location}")
print(f"Monthly Rent: ${rent}")

updated_apartment = apartment[:4] + ("Rented",)

print(f"Original: {apartment}")
print(f"Updated:  {updated_apartment}")

Location: Downtown
Monthly Rent: $45000
Original: ('Downtown', 3, 2, 45000, 'Available')
Updated:  ('Downtown', 3, 2, 45000, 'Rented')

Employee Payroll Record:
Payroll system keeps a tuple: (employee_id, name, base_salary, month, net_pay).
Design data for multiple employees and print the one with the highest salary for a given
month.
Note: Atleast 3 employee records must be created

In [ ]:
payroll_records = [
    (101, "Ayesha", 75000, "March", 62000),
    (102, "Saba", 82000, "March", 68000),
    (103, "Ali", 69000, "March", 57000)
]

target_month = "March"
highest_emp = None

for emp in payroll_records:
    if emp[3] == target_month:
        if highest_emp is None or emp[2] > highest_emp[2]:
            highest_emp = emp

if highest_emp:
    print(f"Highest Salary in {target_month}:")
    print(f"Name: {highest_emp[1]}")
    print(f"Salary: {highest_emp[2]}")

Highest Salary in March:
Name: Saba
Salary: 82000